registry=https://microsoftit.pkgs.visualstudio.com/_packaging/Digital-Workplace/npm/registry/ 
@microsoftit:registry=https://microsoftit.pkgs.visualstudio.com/_packaging/MicrosoftIT/npm/registry/
always-auth=true